<footer>
    <!-- <div class="col-12 copywrites">
        <p class="col-12 col-md-4 col-sm-6 Kayla">Designed by&nbsp;<a href="#Home" title="Kayla Pretorius">Kayla Pretorius</a></p>
        <p class="col-12 col-md-4 Myra">Copywrite &copy; &nbsp;<a href="#Home" title="Myra's Health & Skincare">Myra's Health & Skincare</a></p>
        <p class="col-12 col-md-4 col-sm-6 Megan">Built by&nbsp;<a href="https://megymegs.github.io/Mobile-CV/index.html" title="Megan Meyer">Megan Meyer</a></p>
    </div> -->
</footer>
