<footer>
    <div class="col-md-3 col-12 social">
        <h4 class="col-12">Follow Us:</h4>
        <a href="" class="social-links fb" title="Facebook">facebook.com</a>
        <a href="" class="social-links ig" title="Instagram">@Instagram.com</a>
        <a href="" class="social-links gm" title="Gmail">example@gmail.com</a>
    </div>
    <div class="col-md-9 col-12 services">
        <h4 class="col-12">Our Services</h4>
        <div class="col-xl-2 col-md-4 col-sm-6 col-12 pb-4 pt-4">
            <img class="col-7 img-fluid mx-auto" src="images/icons-desktop/derma-icon.png" alt="dermatology"><span>Dermaplaning</span></div>
        <div  class="col-xl-2 col-md-4 col-sm-6 col-12 pb-4 pt-4">
            <img class="col-7 img-fluid mx-auto" src="images/icons-desktop/facial-icon.png" alt="facials"><span>Facials</span></div>
        <div  class="col-xl-2 col-md-4 col-sm-6 col-12 pb-4 pt-4">
            <img class="col-7 img-fluid mx-auto" src="images/icons-desktop/groom-icon.png" alt="grooming"><span>Grooming</span></div>
        <div  class="col-xl-2 col-md-4 col-sm-6 col-12 pb-4 pt-4">
            <img class="col-7 img-fluid mx-auto" src="images/icons-desktop/hands-icon.png" alt="manicures"><span>Hands & Feet</span></div>
        <div  class="col-xl-2 col-md-4 col-sm-6 col-12 pb-4 pt-4">
            <img class="col-7 img-fluid mx-auto" src="images/icons-desktop/massages-icon.png" alt="massages"><span>Massages</span></div>
        <div  class="col-xl-2 col-md-4 col-sm-6 col-12 pb-4 pt-4">
            <img class="col-7 img-fluid mx-auto" src="images/icons-desktop/makeup-icon.png" alt="make up"><span>Semi-Perm Makeup</span></div>
    </div>
    <div class="col-12 copywrites">
        <p class="col-12 col-md-4 col-sm-6 Kayla">Designed by&nbsp;<a href="#Home" title="Kayla Pretorius">Kayla Pretorius</a></p>
        <p class="col-12 col-md-4 Myra">Copywrite &copy; &nbsp;<a href="#Home" title="Myra's Health & Skincare">Myra's Health & Skincare</a></p>
        <p class="col-12 col-md-4 col-sm-6 Megan">Built by&nbsp;<a href="https://megymegs.github.io/Mobile-CV/index.html" title="Megan Meyer">Megan Meyer</a></p>
    </div>
</footer>
