
<nav class="navbar navbar-expand-md">
    <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand col-lg-3 col-10" href="#home">
        <img src="assets/logo/persuu_logo.png" alt="Persuu" class="img-fluid">
    </div>
    <div class="collapse navbar-collapse col-lg-9" id="navbarNav">
        <ul class="navbar-nav ml-auto col-lg-8">
            <a href="index.html" title="Home"></i>Home</a>
            <!-- <a href="#gallery" title="Gallery">Gallery</a>
            <a href="services.html" title="Services">Services</a>
            <a href="treatments.html" title="Treatments">Treatments</a>
            <a href="#contact" title="Contact">Contact</a> -->
        </ul>
    </div>
</nav>