
.recreational {
    #landing {
        .acc_type {
            .col-6 {
                &#companion {
                    h4{
                        svg {
                            &:nth-of-type(2) {
                                color: #d77fa1;
                            }
                        }
                    }
                }
                .icon {
                    :hover {
                        color: #d77fa1;
                    }
                }
            }
        }
        .member_type {
            button {
                background-color: $color-two;
                border-color: $color-two;
            }
        }
    }
}
#landing {
    .text-content {
        text-decoration: none;
        color: $primary-color;
        h4 {
            animation: 5s infinite ease-in-out;
            line-height: 40px;
        }
        .img-holder {
            min-width: 110px;
            max-width: 80%;
            margin: 0 auto;
            animation: 5s infinite ease-in-out;
            height: clamp(90px, 90%, 350px);
        }
    }
    .acc_type {
        .col-6 {
            padding-left: 0;
            .carousel {
                .carousel-item {
                    img {
                        max-height: 280px;
                        overflow: hidden;
                    }
                }
            }
            &#romance {
                h4{
                    animation-name: increase_left;
                    svg {
                        position: relative;
                        &:nth-of-type(2) {
                            left: -5px;
                        }
                    }
                }
                .img-holder {
                    animation-name: breathe_left;
                }
            }
            &#companion {
                h4{
                    animation-name: increase_right;
                }
                .img-holder {
                    animation-name: breathe_right;
                }
            }
            @keyframes breathe_left {
                0% {
                    transform: scale(0.9);
                }
                50% {
                    transform: scale(1.09);
                }
                100% {
                    transform: scale(0.9);
                }
            }
            @keyframes breathe_right {
                0% {
                    transform: scale(1.09);
                }
                50% {
                    transform: scale(0.9);
                }
                100% {
                    transform: scale(1.09);
                }
            }
        }
    }
    .member_type {
        .text-content {
            p {
                animation: 5s infinite ease-in-out;
                line-height: 40px;
            }
            .carousel {
                .carousel-item {
                    img {
                        max-height: 280px;
                        overflow: hidden;
                    }
                }
            }
            @keyframes increase_left {
                0% {
                    font-size: clamp(16px, 50%, 21px);
                }
                50% {
                    font-size: calc(1.1rem + 0.3vw);
                }
                100% {
                    font-size: clamp(16px, 50%, 21px);
                }
            }
            @keyframes increase_right {
                0% {
                    font-size: calc(1.1rem + 0.3vw);
                }
                50% {
                    font-size: clamp(16px, 50%, 21px);
                }
                100% {
                    font-size: calc(1.1rem + 0.3vw);
                }
            }
        }
        #new {
            p {
                animation-name: increase_left;
            }
            .img-holder {
                animation-name: breathe_left;
            }
        }
        #member {
            p {
                animation-name: increase_right;
            }
            .img-holder {
                animation-name: breathe_right;
            }
        }
        .button-holder {
            justify-content: space-around;
            margin-bottom: 10px;
        }
        button {
            width: 180px;
            color: $main-color;
            background-color: $secondary-color;
            border-color: $secondary-color;
            border-radius: 5px;
            line-height: 35px;
            a, a:hover {
                text-decoration: none;
                display: block;
                color: $main-color;
            }
        }
        #back {
            background-color: #e1c6e1;
        }
        button:hover, button:focus-within {
            border-style: inset;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}
