body {
    background-image: $background-image-1;
    font-family: Merriweather-Regular;
    p, span, button, a {
        font-size: clamp(14px, 50%, 21px);
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: Merriweather-Black;
    }
    strong, b {
        font-family: Merriweather-Bold;
    }
    main {
        box-shadow: 0px 0px 10px 2px #c8a2c8;
        border-radius: 5px;
        max-width: calc(100% - 30px);
        margin: 40px auto;
        background-image: $background-image-1-1;
        color: $primary-color;
        text-shadow: 0 0 2.5px $main-color;
        min-height: 95vh;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &.recreational {
        background-image: $background-image-2;
        main {
            background-image: $background-image-2-1;
        }
    }
}

button {
    width: 180px;
    color: $main-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
    border-radius: 5px;
    line-height: 40px;
    a, a:hover {
        text-decoration: none;
        display: block;
        color: $main-color;
        font-size: clamp(16px, 50%, 24px);
    }
}

button:hover, button:focus-within {
    border-style: inset;
    background-color: $primary-color;
    border-color: $primary-color;
}

@media (min-width: 768px) {
    body {
        main {
            min-height: 100vh;
        }

    }
}

@media (min-width: 1024px) {
    body {
        main {
            min-height: 105vh;
        }

    }
}
