#landing {
    .text-content {
        h4 {
            font-size: calc(1.07rem + 0.3vw);
        }
    }
    .acc_type {
        .pl-0 {
            padding-left: 0;
            &#romance {
                h4{
                    svg {
                        position: relative;
                        &:nth-of-type(2) {
                            left: -5px;
                        }
                    }
                }
                .icon {
                    svg {
                        animation-name: breathe_left;
                    }
                }
            }
            &#companion {
                h4{
                    svg {
                        position: relative;
                        &:nth-of-type(1) {
                            transform: rotateZ(90deg);
                        }
                        &:nth-of-type(2) {
                            color: #e6d6ff;
                            margin: 0 5px;
                        }
                    }
                }
                .icon {
                    svg {
                        animation-name: breathe_right;
                    }
                }
            }
            .icon {
                cursor: pointer;
                svg {
                    font-size: 56px;
                    margin: 10px auto;
                    animation: 3s infinite ease-in-out;

                    @keyframes breathe_left {
                        0% {
                            transform: scale(0.9);
                        }
                        50% {
                            transform: scale(1.09);
                        }
                        100% {
                            transform: scale(0.9);
                        }
                    }
                    @keyframes breathe_right {
                        0% {
                            transform: scale(1.09);
                        }
                        50% {
                            transform: scale(0.9);
                        }
                        100% {
                            transform: scale(1.09);
                        }
                    }
                }
                :hover {
                    color: #917bb5;
                }
            }
        }
    }
}
.recreational {
    #landing {
        .acc_type {
            .pl-0 {
                .icon {
                    :hover {
                        color: #d77fa1;
                    }
                }
            }
        }
    }
}
