body {
    main {
        .brand_ID {
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                .persuu {
                    width: 55px;
                    margin-right: 10px;
                    img {
                        max-width: 60px;
                    }
                }
                span#name {
                    font-weight: 700;
                    font-size: 28px;
                    font-family: DM-Regular;
                    color: $main-color;
                    text-shadow: 0 0 2.5px $secondary-color;
                }
            }
        }
        .intro {
            font-family: Merriweather-Italic;
        }
    }
    &.recreational {
        .brand_ID {
            a {
                span#name {
                    text-shadow: 0 0 2.5px $color-two;
                }
            }
        }
    }
}